*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: 'roboto';
}
.container{
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
h2{
    text-align: center;
    margin-bottom: 0 0 22px;
    color: #ff6a07;
}
.form {
    background-color: white;
    padding: 25px 35px;
}
.form-control{
    margin-bottom:5px ;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-control label{
    color: #3f3e3e;
    margin-bottom: 4px;
}
.form-control input{
    font-size: 15px;
    width: 100%;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 8px;
}
.form-control input:focus{
    outline:0;
    border-color: #828181;
}
.form-control.success input{
    border-width: 3px;
    border-color: green;
}
.form-control.error input{
    border-width: 3px;
    border-color: red;
}
.form-control small{
    color: red;
    visibility: hidden;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.form-control.error small{
    visibility: visible;
}
.form button{
    background-color: #ff6a07;
    border: 2px solid #ff6a07;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size:16px ;
}
.form button:hover{
    cursor: pointer;
    background-color: #e45e05;
}